@{
    
    if(Session["Login"] == null){
       Response.Redirect("Login.cshtml");
    }

   
    var db = Database.Open("FONDANTI2") ;

    var selectCommandCatogorie = "SELECT * FROM Catogorie";
   

    var selectedDataCatogorie = db.Query(selectCommandCatogorie);
   
    var gridCatogorie = new WebGrid(source: selectedDataCatogorie, defaultSort: "Naam", rowsPerPage:16);
   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="css/reset.css" rel="stylesheet" type="text/css" />
        <link href="css/fondanti.css" rel="stylesheet" type="text/css" />
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body id="AdminPaginaBody">

      <div id="top-header"><h2 id="Hoofdtekst">Admin portaal</h2></div>

        <div><p id="DivTekst">.</p></div>
        <div id="griddivAdminTop">
            @gridCatogorie.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
           
            columns: gridCatogorie.Columns(
            gridCatogorie.Column(format: @<a href="~/EditPrijs?id1=@item.CatID&">Edit</a>),
            gridCatogorie.Column("Naam"))
           
            
            )
      
            
        </div>
</body>
</html>
