@{

    if(Session["Login"] == null){
        Response.Redirect("Login.cshtml");
   }
    
  {     

   


    var IDType = "";
    var ProductId = "";
    var TableId = "";

    if(!IsPost){
        if(!Request.QueryString["ID"].IsEmpty()){
            ProductId = Request.QueryString["IDType"];
            TableId = Request.QueryString["Type"];
            var db = Database.Open("FONDANTI2");
            var dbCommand = "SELECT * FROM Type WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, IDType);
            
        }
        else{
            Validation.AddFormError("No movie was selected.");
        }
    }

}
  }


<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="css/reset.css" rel="stylesheet" type="text/css" />
        <link href="css/fondanti.css" rel="stylesheet" type="text/css" />
        <meta charset="utf-8" />
        <meta charset="utf-8" />

        <title>Prijs Aanpassen</title>
    </head>
     
              </div>
    </body>
</html>
