@{
    
}

<!DOCTYPE html>
<html>
<body>

<h2>Verstuur een email naar mij (shev22ppal@live.nl):</h2>

<form action="MAILTO:shev22ppal@live.nl" method="post" enctype="text/plain">
Volledige naam:<br>
<input type="text" name="Naam" value="Naam"><br>
Adres:<br>
<input type="text" name="adres" value="Adres"><br>
Postcode:<br>
<input type="text" name="postcode" value="Postcode"><br>
Woonplaats:<br>
<input type="text" name="woonplaats" value="Woonplaats"><br>
Telefoon nummer:<br>
<input type="text" name="telefoonnummer" value="06-"><br>
Datum:<br>
<input type="date" name="datum" value=""><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>
