<div id="overigetaarten-4">
    <div id="progress" style="height: 20px; background-color: #fff;">
        <div id="progressbar" style="background-color: #8A0B4B; width: 100%; height: 100%;"></div>
    </div>
    <div class="contain">
         <div class="col-sm-6 col-md-6">
             <div id="gegevens">
                <div class="col-sm-12 col-md-12">
                Volledige naam:<input type="text" name="naam" id="naam">
                    </div>
                 <div class="col-sm-12 col-md-12">
                Adres:<input type="text" name="naam" id="naam">
                     </div>
                 <div class="col-sm-12 col-md-12">
                Postcode      :<input type="text" name="naam" id="naam">
                     </div>
                 <div class="col-sm-12 col-md-12">
                Woonplaats:<input type="text" name="naam" id="naam">
                     </div>
                 <div class="col-sm-12 col-md-12">
                Telefoonnummer:<input type="text" name="naam" id="naam">
                     </div>
                 <div class="col-sm-12 col-md-12">
                e-mail adres  :<input type="text" name="naam" id="naam">
                     </div>
                 <div class="col-sm-12 col-md-12">
                datum:<input type="date" name="naam" id="naam">
                     </div>
                 
             </div>
         </div>

         <div class="col-sm-6 col-md-6">
             <div id="factuur">
             </div>
         </div>
    </div>
    <input style="font-size: 20px" type="submit" name="next" value="next" id="next4">
</div>