@{
  var db = Database.Open("FONDANTI2");

    if(IsPost){

        string usrname = Request.Form["Username"].ToLower();
        string pwd = Request.Form["Password"];
        var userpass = db.QueryValue("SELECT Password FROM Account WHERE AccountName=@0", usrname);

        if(userpass == null){
             Validation.AddFormError("Gebruikersnaam of wachtwoord is onjuist.");
           }
           else if (userpass != pwd){
               Validation.AddFormError("Wachtwoord is onjuist.");
           }
           else if(userpass == pwd){
               Session["Login"] = usrname;
               Response.Redirect("Admin.cshtml");
           }
    }
}


<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="css/reset.css" rel="stylesheet" type="text/css" />
        <link href="css/fondanti.css" rel="stylesheet" type="text/css" />

        <meta charset="utf-8" />
        <title></title>
    </head>
    <body id="LoginPaginaBody">
        <div id="top-header"><h2 id="Hoofdtekst">Login pagina</h2></div>
        </br>
        @Html.ValidationSummary()</div>
        
        <div id="BodyLogin">
            <form method="post">
        <fieldset>
        
        <h3><label for="Username">Gebruikersnaam:</label>
            <input type="text" name="Username" value=""/></h3>
        </br>
        <div id="Password"><h3><label for="Password">Wachtwoord:</label>
            <input type="password" name="Password" value=""/></h3></div>
        
        <p><input type="submit" name="buttonSubmit" value="Login"/></p></fieldset></form>

            </div> 


     </body>
</html>
