
<div id="overigetaarten">
    <div id="progress" style="height: 20px; background-color: #fff; width: 100%;">
        <div id="progressbar" style="background-color: #8A0B4B; width: 25%; height: 100%;"></div>
    </div>
    <div class="col-sm-4 col-md-4">
        <select name="drop1" required id="stap1">
            <option value="" disabled selected style="display: none;">aantal personen</option>
            <option value="10 personen">10 Personen</option>
            <option value="20 personen">20 Personen</option>
            <option value="30 personen">30 Personen</option>
            <option value="40 personen">40 Personen</option>
        </select>
    </div>
    <div class="col-sm-4 col-md-4">
        <select name="drop2" required id="stap2">
            <option value="" disabled selected style="display: none;">aantal lagen</option>
            <option value="1 laag">1 Laag</option>
            <option value="2 lagen">2 Lagen</option>
            <option value="3 lagen">3 Lagen</option>
            <option value="4 lagen">4 Lagen</option>
        </select>
    </div>
    <div class="col-sm-4 col-md-4">
        <div id="check">
            <input type="checkbox" name="notenallergie" value="noten"> noten allergie<br>
            <input type="checkbox" name="lactoseintollerant" value="lactose"> lactose intollerantie<br>
            <input type="checkbox" name="glutenallergie" value="Bike"> glutten allergie<br>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <input type="button" name="next" value="next" id="next1">
    </div>
</div>

