@{
 var aantalmensen= "";
    var personen = "";
    var ID = 1;
    var lagen = "";
    var stap= "";
    var prijsindicatie = "";
    var type = "overige taarten";
    var gluten = "";
    var lactose = "";
    var noten = "";

    if(IsPost && Request.Form["Action"] == "Trouwtaart4"){
        prijsindicatie = Request.Form["aantalmensen"];
        personen = Request.Form["aantalmensen"];
        lagen = Request.Form["stap"];
        type= "overige taart";
        gluten = Request.Form["gluten"];
        noten = Request.Form["noten"];
        lactose = Request.Form["lactose"];
        var db = Database.Open("FONDANTI2");
        var updateCommand = "UPDATE Factuur SET prijsindicatie=@0, personen=@1, lagen=@2, type=@3, gluten=@4, noten=@5, lactose=@6 WHERE ID=1";
        db.Execute(updateCommand, prijsindicatie, personen, lagen, type, gluten, noten, lactose);
        Response.Redirect("stap2-1.cshtml");

    }
}
<div id="overigetaarten">
    <form method="post">
        <input type="hidden" name="Action" value="Trouwtaart4" />
        <div id="progress" style="height: 20px; background-color: #fff;">
            <div id="progressbar" style="background-color: #8A0B4B; width: 25%; height: 100%;"></div>
        </div>

        <div id="contain">
            <div class="col-sm-4 col-md-4">
            aantal mensen(min. 15)
                <input style="font-size: 15px" type="number" min="15" max="60" name="aantalmensen" value="@aantalmensen" id="stap1">
            </div>
            <div class="col-sm-4 col-md-4">
                <select style="font-size: 20px" name="stap" required id="stap2">
                    <option value="" disabled selected style="display: none;">aantal lagen</option>
                    <option value="1">1 Laag</option>
                    <option value="2">2 Lagen</option>
                    <option value="3">3 Lagen</option>
                    <option value="4">4 Lagen</option>
                </select>
            </div>
            <div class="col-sm-4 col-md-4">
                <div id="check">
                    <input style="font-size: 15px" type="checkbox" name="noten" value="noten"> noten allergie<br>
                    <input style="font-size: 15px" type="checkbox" name="lactose" value="lactose"> lactose intollerantie<br>
                    <input style="font-size: 15px" type="checkbox" name="gluten" value="gluten"> gluten allergie<br>
                </div>
            </div>
        </div>

        <input style="font-size: 20px" type="submit" name="next" value="next" id="next1">

    </form>

</div>

