@{
      if(IsPost && Request.Form["Action"] == "Trouwtaart3"){
        
        Response.Redirect("factuur-1.cshtml");
    }  

}

<div id="trouwtaart-3">
     <form method="post">
    <input type="hidden" name="Action" value="Trouwtaart3" />
    <div id="progress" style="height: 20px; background-color: #fff;">
        <div id="progressbar" style="background-color: #8A0B4B; width: 75%; height: 100%;"></div>
    </div>
    <div class="contain">
        <div class="col-sm-6 col-md-6">
            <div class="col-sm-12 col-md-12"><div id="stap5">upload hier een foto die u als voorbeeld wil gebruiken.</div></div>
            <div class="col-sm-12 col-md-12"><input type="file" id="stap5-2"></div>
        </div>
        <div class="col-sm-6 col-md-6">
            <textarea id="stap6" rows="4">Schrijf hier extra informatie als het nodig is...</textarea>
        </div>
    </div>
    <input style="font-size: 20px" type="submit" name="next" value="next" id="next3">
         </form>
</div>
