@{
    var db = Database.Open("FONDANTI2");
    var selectQueryStringBekleding = "SELECT * FROM Ingredienten WHERE CatID=1 AND Beschikbaar ='True'";
    var selectQueryStringType = "SELECT * FROM Ingredienten WHERE CatID=2 AND Beschikbaar ='True'";
    var selectQueryStringVulling = "SELECT * FROM Ingredienten WHERE CatID=3 AND Beschikbaar ='True'";
    var selectQueryStringDecoratie = "SELECT * FROM Ingredienten WHERE CatID=4 AND Beschikbaar ='True'";
}
<div id="trouwtaart-2">

    <div id="progress" style="height: 20px; background-color: #fff;">
        <div id="progressbar" style="background-color: #8A0B4B; width: 50%; height: 100%;"></div>
    </div>
    <div class="contain">
        <div class="col-sm-6 col-md-6">
            <select style="font-size: 20px" name="drop1" required id="stap3">
                <option value="" disabled selected style="display: none;">laag selector</option>
                <option value="1">laag 1</option>
                <option value="2">laag 2</option>
                <option value="3">laag 3</option>
                <option value="4">laag 4</option>
            </select>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="col-sm-12 col-md-12">
                <select style="font-size: 20px" name="drop2" required id="stap4">
                    @foreach(var row in db.Query(selectQueryStringBekleding)){
                        <option value="" disabled selected style="display: none;">Bekleding</option>
                        <option value="1 laag">@row.Naam</option>
                    }

                </select>
            </div>
            <div class="col-sm-12 col-md-12">
                <select style="font-size: 20px" name="drop2" required id="stap4-2">
                    @foreach(var row in db.Query(selectQueryStringType)){
                        <option value="" disabled selected style="display: none;">Type</option>
                        <option value="1 laag">@row.Naam</option>
                    }
                </select>
            </div>
            <div class="col-sm-12 col-md-12">
                <select style="font-size: 20px" name="drop2" required id="stap4-3">
                   @foreach(var row in db.Query(selectQueryStringVulling)){
                        <option value="" disabled selected style="display: none;">Vulling</option>
                        <option value="1 laag">@row.Naam</option>
                    }
                </select>
            </div>
            <div class="col-sm-12 col-md-12">
                <select style="font-size: 20px" name="drop2" required id="stap4-4">
                    @foreach(var row in db.Query(selectQueryStringDecoratie)){
                        <option value="" disabled selected style="display: none;">Decoratie</option>
                        <option value="1 laag">@row.Naam</option>
                    }
                </select>
            </div>
        </div>

    </div>

   
    <input style="font-size: 20px" type="button" name="next" value="next" id="next2">


</div>
