@{
    
}

        <div id="progress" style="height: 20px; background-color: #fff; width: 100%;">
                    <div id="progressbar" style="background-color: #8A0B4B; width: 25%; height: 100%;"></div>
                </div>
