@{
}
<div id="trouwtaart-2">

    <div id="progress" style="height: 20px; background-color: #fff;">
        <div id="progressbar" style="background-color: #8A0B4B; width: 50%; height: 100%;"></div>
    </div>
    <div id="contain">
        <div class="col-sm-6 col-md-6">
            <select style="font-size: 20px" name="drop1" required id="stap3">
                <option value="" disabled selected style="display: none;">laag selector</option>
                <option value="1">laag 1</option>
                <option value="2">laag 2</option>
                <option value="3">laag 3</option>
                <option value="4">laag 4</option>
            </select>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="col-sm-12 col-md-12">
                <select style="font-size: 20px" name="drop2" required id="stap4">
                    <option value="" disabled selected style="display: none;">type cake</option>
                    <option value="1 laag">1 Laag</option>
                    <option value="2 lagen">2 Lagen</option>
                    <option value="3 lagen">3 Lagen</option>
                    <option value="4 lagen">4 Lagen</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-12">
                <select style="font-size: 20px" name="drop2" required id="stap4-2">
                    <option value="" disabled selected style="display: none;">type cake</option>
                    <option value="1 laag">1 Laag</option>
                    <option value="2 lagen">2 Lagen</option>
                    <option value="3 lagen">3 Lagen</option>
                    <option value="4 lagen">4 Lagen</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-12">
                <select style="font-size: 20px" name="drop2" required id="stap4-3">
                    <option value="" disabled selected style="display: none;">type cake</option>
                    <option value="1 laag">1 Laag</option>
                    <option value="2 lagen">2 Lagen</option>
                    <option value="3 lagen">3 Lagen</option>
                    <option value="4 lagen">4 Lagen</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-12">
                <select style="font-size: 20px" name="drop2" required id="stap4-4">
                    <option value="" disabled selected style="display: none;">type cake</option>
                    <option value="1 laag">1 Laag</option>
                    <option value="2 lagen">2 Lagen</option>
                    <option value="3 lagen">3 Lagen</option>
                    <option value="4 lagen">4 Lagen</option>
                </select>
            </div>
        </div>

    </div>

    <input style="font-size: 20px" type="button" name="next" value="next" id="next2">


</div>
