@{
 var aantalmensen= "";
    var personen1 = "";
    var ID = 1;
    var lagen = "";
    var stap2= "";
    var Prijsindicatie = "";


    if(IsPost && Request.Form["Action"] == "Trouwtaart"){
        Prijsindicatie = Request.Form["aantalmensen"];
        personen1 = Request.Form["aantalmensen"];
        lagen = Request.Form["stap2.SelectValue"];
        var db = Database.Open("FONDANTI2");
        var updateCommand = "UPDATE Factuur SET Prijsindicatie=@0, personen=@1, lagen=@2 WHERE ID=1";
        db.Execute(updateCommand, Prijsindicatie, personen1, lagen);
        Response.Redirect("stap2-1.cshtml");

    }

}

<div id="trouwtaart">

    <form method="post">
        <input type="hidden" name="Action" value="Trouwtaart" />
        <div id="progress" style="height: 20px; background-color: #fff;">
            <div id="progressbar" style="background-color: #8A0B4B; width: 25%; height: 100%;"></div>
        </div>

        <div id="contain">
            <div class="col-sm-4 col-md-4">
            aantal mensen
                <input style="font-size: 15px" type="number" name="aantalmensen" min="10" max="60" value="@aantalmensen" id="stap1">
            </div>
            <div class="col-sm-4 col-md-4">
                <select style="font-size: 20px" required name="stap2" id="stap2">
                    <option value="" disabled selected style="display: none;">aantal lagen</option>
                    <option value="1">1 Laag</option>
                    <option value="2">2 Lagen</option>
                    <option value="3">3 Lagen</option>
                    <option value="4">4 Lagen</option>
                </select>
            </div>
            <div class="col-sm-4 col-md-4">
                <div id="check">
                    <input style="font-size: 15px" type="checkbox" name="notenallergie" value="noten"> noten allergie<br>
                    <input style="font-size: 15px" type="checkbox" name="lactoseintollerant" value="lactose"> lactose intollerantie<br>
                    <input style="font-size: 15px" type="checkbox" name="glutenallergie" value="gluten"> gluten allergie<br>
                </div>
            </div>
        </div>

        <input style="font-size: 20px" type="submit" name="next" value="next" id="next1">

    </form>
</div>

