@{
 
    
    var Naam = "";
    var Prijs = "";
    var ID = "";
  

    if(!IsPost){
        if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()){
            ID = Request.QueryString["IngredientenID"];
           var db = Database.Open("Ingredienten");
            var dbCommand = "SELECT * FROM Ingredienten WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, ID);
            if(row != null) {
                Naam = row.Naam;
                Prijs = row.Prijs;
            }
            else{
                Validation.AddFormError("Er is geen Naam gevonden met dat ID.");
            }
        }
        else{
            Validation.AddFormError("Er is geen Naam gevonden met dat ID.");
        }
    }
        if(IsPost && !Request["buttonDelete"].IsEmpty()){
        ID = Request.Form["ID"];
        var db = Database.Open("Ingredienten");
        var deleteCommand = "DELETE FROM Ingredienten WHERE ID = @0";
        db.Execute(deleteCommand, ID);
        Response.Redirect("~/MainBruids");
    }
}

<html>
<head>
  <title>Verwijder een Naam.</title>
</head>
<body>
      <h1>Verwijder een Naam.</h1>
        @Html.ValidationSummary()
      <p><a href="~/Admin">Ga terug naar hoofdpagina.</a></p>

      <form method="post">
        <fieldset>
        <legend>Informatie over uw Naam.</legend>

        <p><span>Naam:</span>
         <span>@Naam</span></p>

        <p><span>Prijs:</span>
          <span>@Prijs</span></p>

        <input type="hidden" name="ID" value="@ID" />
        <p><input type="submit" name="buttonDelete" value="Verwijder Naam." /></p>
        </fieldset>
      </form>
    </body>
</html>